# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Build artifacts
dist/
build/
out/
.next/
.server/
dist-ssr/
*.local

# Debug and System files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*
!.env.example

# Editor directories and configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
